*.iml
.gradle
/local.properties
.idea/
OpenCV/.cxx
OpenCV/build
/.cxx
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
